<%- include('partials/header') -%>
<main class="mainContainer">
   <section class="accountInfoMain flex">
      <h1 class="personal">Personal Information</h1>
      <section class="flex personalInfo">
         <section class="summary">
            <section>
               <h2 class="employeeName" id="employeeName"></h2>
               <img src="<%= user.image %>" alt="" class="employeePicture" />
            </section>
            <form
               action="/account/updateImage/?_method=PUT"
               enctype="multipart/form-data"
               method="POST"
            >
               <section class="imageUpload flex">
                  <input type="file" class="imageFile hidden" name="file" />
               </section>
               <section class="edit flex">
                  <span class="editBtn hidden" id="imageCancel"
                     ><i class="fa-solid fa-xmark"></i
                  ></span>
                  <button class="editBtn hidden" id="imageSave" type="submit">
                     <i class="fa-solid fa-floppy-disk"></i>
                  </button>
                  <span class="editBtn darkMode" id="imageEdit"
                     ><i class="fa-solid fa-pen"></i
                  ></span>
               </section>
            </form>
         </section>
         <form
            action="/account/updatePersonalInfo/?_method=PUT"
            method="POST"
            class="flex formInputs personalForm"
         >
            <section class="flex inputField darkMode">
               <h2>First Name</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="firstName"
                  value="<%= user.firstName %>"
                  id="firstName"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>Last Name</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="lastName"
                  value="<%= user.lastName %>"
                  id="lastName"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>Email</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="email"
                  value="<%= user.email %>"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>Phone Number</h2>
               <input
                  class="userInput darkMode"
                  type="number"
                  name="phone"
                  value="<%= user.phone %>"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>Street Address</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="streetAddress"
                  value="<%= user.streetAddress %>"
                  disabled
               />
            </section>
            <!-- <section class="flex inputField darkBackground">
                        <h2>Address Line 2</h2>
                        <input class="darkBackground" type="text" id="address2" value="" disabled>
                     </section> -->
            <section class="flex inputField darkMode">
               <h2>City</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="city"
                  value="<%= user.city %>"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>State</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="state"
                  value="<%= user.state %>"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>Zip Code</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="zip"
                  value="<%= user.zip %>"
                  disabled
               />
            </section>
            <section class="edit flex">
               <span class="editBtn hidden" id="personalCancel"
                  ><i class="fa-solid fa-xmark"></i
               ></span>
               <button class="editBtn hidden" id="personalSave" type="submit">
                  <i class="fa-solid fa-floppy-disk"></i>
               </button>
               <span class="editBtn darkMode" id="personalEdit"
                  ><i class="fa-solid fa-pen"></i
               ></span>
            </section>
         </form>
      </section>

      <h1 class="employment">Employment Information</h1>
      <form
         action="/account/updateEmploymentInfo/?_method=PUT"
         method="POST"
         class="flex employmentForm formInputs"
      >
         <section class="flex">
            <section class="flex inputField darkMode">
               <h2>Job Title</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="title"
                  value="<%= user.title %>"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>Compensation</h2>
               <section class="container">
                  <span>$</span>
                  <input
                     class="userInput darkMode compensation"
                     type="text"
                     name="compensation"
                     value="<%= user.compensation %>"
                     disabled
                  />
                  <span>/hr</span>
               </section>
            </section>
            <section class="flex inputField darkMode">
               <h2>Supervisor</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="supervisor"
                  value="<%= user.supervisor %>"
                  disabled
               />
            </section>
            <section class="flex inputField darkMode">
               <h2>Crew</h2>
               <input
                  class="userInput darkMode"
                  type="text"
                  name="crew"
                  value="<%= user.crew %>"
                  disabled
               />
            </section>
         </section>
         <section class="edit flex">
            <span class="editBtn hidden" id="employmentCancel"
               ><i class="fa-solid fa-xmark"></i
            ></span>
            <button class="editBtn hidden" id="employmentSave" type="submit">
               <i class="fa-solid fa-floppy-disk"></i>
            </button>
            <span class="editBtn darkMode" id="employmentEdit"
               ><i class="fa-solid fa-pen"></i
            ></span>
         </section>
      </form>
   </section>
</main>

<script type="text/javascript" src="js/account.js"></script>
<%- include('partials/footer') -%>
