<%- include('partials/header') -%>
<section class="forgot main flex loginMain">
   <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
   <div class="alert alert-danger"><%= el.msg %></div>
   <% }) %> <% } %> <% if (!userFound) { %>
   <section class="loginContainer flex darkMode">
      <h1>Forgot Password</h1>
      <form class="flex" action="/getUser" method="POST">
         <div class="input-box">
            <input type="text" name="email" placeholder="Email" />
         </div>

         <button type="submit" class="loginBtn">Find User</button>
      </form>
   </section>

   <% } %> <% if (userFound) { %>
   <section class="loginContainer flex darkMode">
      <form class="flex" action="/forgotPassword/<%= email %>" method="POST">
         <h1>Enter New Password</h1>
         <span name="email">Account Email: <%= email %></span>
         <div class="input-box">
            <input type="password" name="password" placeholder="New Password" />
         </div>
         <div class="input-box">
            <input
               type="password"
               name="confirmPassword"
               placeholder="Confirm Password"
            />
         </div>

         <button type="submit" class="loginBtn">Submit</button>
      </form>
      <section class="loginLinks">
         <a href="/login">Log In</a>
      </section>
   </section>
   <% } %>
</section>

<%- include('partials/footer') -%>
