<%- include('partials/header') -%>
<section class="forgot main mainContainer">
   <h1 class="centered">Forgot Password</h1>
   <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
   <div class="alert alert-danger"><%= el.msg %></div>
   <% }) %> <% } %> <% if (!userFound) { %>
   <form class="flex" action="/getUser" method="POST">
      <input type="text" name="email" placeholder="Email" />
      <button type="submit">Find User</button>
   </form>
   <% } %> <% if (userFound) { %>
   <form
      class="flex"
      action="/forgotPassword/<%= email %>"
      method="POST"
   >
      <h3>Enter New Password</h3>
      <span name="email">Email: <%= email %></span>
      <input
         type="password"
         name="password"
         placeholder="New Password"
      />
      <input
         type="password"
         name="confirmPassword"
         placeholder="Confirm Password"
      />
      <button type="submit">Submit</button>
   </form>
   <% } %>
</section>

<%- include('partials/footer') -%>
