<%- include('partials/header') -%>
<main class="mainContainer flex">
   <section class="team flex">
      <section class="top flex">
         <section>
            <h1 class="teamHeader">Department Head</h1>
         </section>
         <section class="boss flex">
            <section class="flex user darkMode">
               <span class="picContainer"
                  ><img src="<%= bossData.image %>" alt="" class="pic"
               /></span>
               <section class="flex">
                  <span
                     ><%= bossData.firstName %> <%= bossData.lastName %></span
                  >
                  <span><%= bossData.title %></span>
               </section>
            </section>
         </section>
      </section>
      <section>
         <section class="department">
            <h1 class="centered teamHeader">Department Employees</h1>
            <ul class="flex">
               <% for (let i = 0; i < deptEmployees.length; i++) { %> 
                  <% if (deptEmployees[i].title !== 'Supervisor' && deptEmployees[i].title !== 'Manager') { %>
                     <li class="flex user member darkMode">
                        <span class="picContainer"
                           ><img src="<%= deptEmployees[i].image %>" alt="" class="pic empImage"
                        /></span>
                        <section>
                           <span id="empName"><%= deptEmployees[i].firstName %> <%= deptEmployees[i].lastName %></span></br>
                           <span id="empTitle"><%= deptEmployees[i].title %></span>
                        </section>
                     </li>
                  <% } %> 
               <% } %>
            </ul>
         </section>
      </section>
   </section>
   <section class="employeeSummary flex">
      <h1 class="teamHeader">Employee summary</h1>
      <section class="flex user selectedEmployee darkMode">
         <span class="picContainer" id="selectedImage"><img src="<%= user.image %>" alt="" class="pic selectedPic"/></span>
         <section class="flex selectedContainer">
            <span id="selectedName"><%= user.firstName %> <%= user.lastName %></span>
            <span id="selectedTitle">
               <% if (user.title === undefined) { %> "" <% } else { %> <%=
               user.title %> <% } %>
            </span>
            <span id="selectedCrew"><%= user.crew %> Crew</span>
            <span id="selectedEmail"><%= user.email %></span>
         </section>
      </section>
   </section>
</main>

<script type="text/javascript" src="js/team.js"></script>
<%- include('partials/footer') -%>
