<%- include('partials/header') -%>
<main class="mainContainer flex">
   <section class="team flex">
      <section class="top flex">
         <section>
            <h1>Direct Report</h1>
         </section>
         <section class="empAndBoss flex">
            <section class="flex user">
               <span class="picContainer"
                  ><img src="<%= bossData.image %>" alt="" class="pic"
               /></span>
               <section class="flex">
                  <span
                     ><%= bossData.firstName %> <%= bossData.lastName %></span
                  >
                  <span><%= bossData.title %></span>
               </section>
            </section>
            <section class="flex user">
               <span class="picContainer"
                  ><img src="<%= user.image %>" alt="" class="pic"
               /></span>
               <section class="flex">
                  <span><%= user.firstName %> <%= user.lastName %></span>
                  <span>
                     <% if (user.title === undefined) { %> "" <% } else { %> <%=
                     user.title %> <% } %>
                  </span>
               </section>
            </section>
         </section>
      </section>
      <section>
         <button>Department</button>
         <button>Crew</button>
      </section>
      <section>
         <section class="department">
            <h1>Department Employees</h1>
            <ul>
               <% for (let i = 0; i < deptEmployees.length; i++) { %> 
                  <% if (deptEmployees[i].title !== 'Supervisor' && deptEmployees[i].title !== 'Manager') { %>
                     <li class="flex user">
                        <span class="picContainer"
                           ><img src="<%= deptEmployees[i].image %>" alt="" class="pic"
                        /></span>
                        <section>
                           <span><%= deptEmployees[i].firstName %> <%= deptEmployees[i].lastName %></span>
                        </section>
                     </li>
                  <% } %> 
               <% } %>
            </ul>
         </section>
         <h1>test</h1>
         <h3>test</h3>
      </section>
   </section>

   <section></section>
   <ul class="organization flex">
      <!-- <div class="reportsTo flex">
         <div class="line"></div>
      </div>
      <h3 class="reports">Crew Supervisors</h3>
      <li class="supervisors flex">
         <ul class="supervisors flex">
            <ul class="canDept">
               <li class="flex user">
                  <span class="picContainer"
                     ><img src="\images\headshot.png" alt="" class="pic"
                  /></span>
                  <section class="flex">
                     <span>Danielle Rader</span>
                     <span>Electronic Technician</span>
                  </section>
               </li>
               <div class="reportsTo flex">
                  <div class="line"></div>
               </div>
               <h3 class="reports">Dept Leads</h3>
               <ul class="leads">
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Electronic Technician</span>
                     </section>
                  </li>
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Electronic Technician</span>
                     </section>
                  </li>
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Electronic Technician</span>
                     </section>
                  </li>
               </ul>
            </ul>
            <ul class="endDept">
               <li class="flex user">
                  <span class="picContainer"
                     ><img src="\images\headshot.png" alt="" class="pic"
                  /></span>
                  <section class="flex">
                     <span>Danielle Rader</span>
                     <span>Engineer - Manufacturing III</span>
                  </section>
               </li>
               <div class="reportsTo flex">
                  <div class="line"></div>
               </div>
               <h3 class="reports">Dept Leads</h3>
               <ul class="leads">
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Electronic Technician</span>
                     </section>
                  </li>
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Electronic Technician</span>
                     </section>
                  </li>
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Electronic Technician</span>
                     </section>
                  </li>
               </ul>
            </ul>
         </ul>
      </li> -->
   </ul>
   <section class="employeeSummary">
      <h1>Employee summary</h1>
   </section>
</main>
<%- include('partials/footer') -%>
