<%- include('partials/header') -%>
<main class="woInfo flex">
   <section class="buttonsContainer flex">
      <form
         action="/workOrders/respondToWorkOder/<%= workOrder.id %>?_method=PUT"
         method="POST"
      >
         <button class="respond button <%= (workOrder.respondedTo === true) ? 'disabled' : '' %>" type="submit">Respond</button>
      </form>
      <form
         action="/workOrders/closeWorkOrder/<%= workOrder.id %>?_method=PUT"
         method="POST"
      >
         <button class="close button <%= (workOrder.status === 'closed') ? 'disabled' : '' %>" type="submit">Close</button>
      </form>
      <form
         action="/workOrders/deleteWorkOrder/<%= workOrder.id %>?_method=DELETE"
         method="POST"
      >
         <button class="delete button" type="submit">Delete</button>
      </form>
   </section>
   <section class="info flex">
      <section class="container requested flex">
         <section
            class="woTop flex <%= (workOrder.respondedTo === true) ? 'reqRespondedTo' : ''%> <%= (workOrder.status === 'closed') ? 'closed' : '' %>"
         >
            <div>
               WO#
               <span
                  class="<%= (workOrder.respondedTo === true) ? 'reqRespondedTo' : ''%> <%= (workOrder.status === 'closed') ? 'closed' : 'open' %>"
                  ><%= workOrder.workOrderNum %></span
               >
            </div>
            <div>
               Status:
               <span
                  class="<%= (workOrder.respondedTo === true) ? 'reqRespondedTo' : ''%> <%= (workOrder.status === 'closed') ? 'closed' : 'open' %>"
                  ><%= workOrder.status %></span
               >
            </div>
         </section>
         <section class="reqBottom flex">
            <section class="reqInfo flex">
               <div>
                  Requested Dept:
                  <span><%= workOrder.reqDept %></span>
               </div>
               <div>
                  Requested Location:
                  <span><%= workOrder.reqLocation %></span>
               </div>
               <div>
                  Requested By:
                  <span><%= workOrder.reqEmp %></span>
               </div>
               <div>
                  Requested On:
                  <span><%= workOrder.reqDate %></span>
               </div>
               <!-- <div>Requested Time: <%= workOrder.reqLocation %><span id="reqTime"></span></div> -->
            </section>
            <section class="detail flex">
               <h2>Problem Detail</h2>
               <span><%= workOrder.probDetail %></span>
            </section>
         </section>
      </section>
      <section class="container responded flex">
         <section class="reqInfo flex">
            <div>
               Responded By:
               <span id="resEmp"><%= workOrder.resEmp %></span>
            </div>
            <div>
               Responded On:
               <span id="resDate"><%= workOrder.resDate %></span>
            </div>
         </section>
         <section class="detail flex">
            <h2>Solution Detail</h2>
            <textarea name="" id="" cols="30" rows="10" class="<%= (workOrder.status === 'closed') ? 'disabled' : '' %>"><%= workOrder.solutionDetail %></textarea>
         </section>
      </section>
   </section>
</main>
<%- include('partials/footer') -%>
