<%- include('partials/header') -%>
<main class="mainContainer">
   <section class="createContainer flex">
      <section class="sort flex">
         <h3 class="large">Sort Work Orders </h3>
         <h3 class="small">Sort</h3>
         <select name="sort" id="sortOptions" class="sortOptions">
            <option value="recent">Recent</option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
            <option value="responded">Responded To</option>
         </select>
      </section>
      <a href="/create" id="createWO" class="create flex large"
         >+ Create New Work Order</a
      >
      <a href="/create" id="createWO" class="create flex small">+</a>
   </section>
   <section class="main">
      <section class="workOrdersMain flex">
         <section class="title darkMode flex">
            <span>WO Number</span>
            <span>Status</span>
            <span>Requested Dept</span>
            <span>Requested Location</span>
            <span>Problem Detail</span>
         </section>
         <ul class="workOrders">
            <% for(let i= workOrders.length - 1; i > 0; i--) {%>
               <li class="requestLi">
                  <a href="/woInfo/<%= workOrders[i]._id %>" class='request flex darkMode <%= (workOrders[i].respondedTo === true) ? 'reqRespondedTo' : '' %> <%= (workOrders[i].status === 'closed') ? 'closed' : '' %>'>
                     <span class="woNum">WO# <%= workOrders[i].workOrderNum %></span>
                     <span><%= workOrders[i].status %></span>
                     <span><%= workOrders[i].reqDept %></span>
                     <span><%= workOrders[i].reqLocation %></span>
                     <span><%= workOrders[i].probDetail %></span>
                     <span class="hidden"><%= workOrders[i].respondedTo %></span>
                  </a>
               </li>
            <% } %>
         </ul>
         <section id="closedWorkOrders" class="container hidden">
            <ul class="workOrders">
            </ul>
         </section>
      </section>
   </section>
</main>
<script type="text/javascript" src="js/workOrders.js"></script>
<%- include('partials/footer') -%>

